<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.TaskMapper">

    <select id="selectById" parameterType="long" resultType="com.example.demo.model.Task">
        SELECT ID, TITLE, COMPLETED FROM TASK WHERE ID = #{id}
    </select>

    <select id="getAllDatabase" resultType="com.example.demo.model.Task">
        SELECT ID, TITLE, COMPLETED FROM TASK ORDER BY ID
    </select>

    <insert id="insertionInDatabase"
            parameterType="com.example.demo.model.Task">

        <selectKey keyProperty="id"
                   resultType="long"
                   order="BEFORE">

            SELECT TASK_SEQ.NEXTVAL FROM DUAL

        </selectKey>

        INSERT INTO TASK (
            ID,
            TITLE,
            COMPLETED
        )
        VALUES (
            #{id},
            #{title},
            #{completed}
        )

    </insert>

    <update id="updateInDatabase"
        parameterType="com.example.demo.model.Task">

        UPDATE TASK
        SET
            TITLE = #{title},
            COMPLETED = #{completed}
        WHERE ID = #{id}

    </update>

    <delete id="deleteFromDatabase" parameterType="long">

        DELETE FROM TASK
        WHERE ID = #{id}

    </delete>

</mapper>